/*body*/
body {
    background-color: #EEEEEE;
    font-family: system-ui;
}

/*title*/
@keyframes slideIn {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}


.title {
    color: #f9f9f2;
    animation-name: slideIn;
    animation-duration: 1s;
    padding: 0em 12em;
    text-align: center;

}